<div>
  <%= flash[:notice] %>
</div>
<%= render 'list', user: @user %>


<div>
 <h2>Book detail</h2>
 <div><%= image_tag @book.user.get_profile_image(100,100) %></div>
<!--詳細ページへ飛べるリンクがここにもあるがlink_to book.title, book_path(book.id)だとエラーが出る。-->
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>


  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
